# Assignment 1: R Data Objects

In this assignment you will create R objects. 

**Due:** End of Afternoon Session

**Name:**

**Date:**

Run the cell below.

In [ ]:
install.packages("maps")
library("maps")

**Question 1.** Create and save a vector that contains the elements 1, 3, 5, 7, 9. Name the object `num_vec`.

In [ ]:
num_vec <- ...
num_vec

In [ ]:
. = ottr::check("tests/q1.R")

**Question 2.** When performing a standard mathematical operation on a vector in `R`, the mathematical operation is applied to each element of the vector. Add 4 to each element `num_vec` and store the result in `num_vec_plus_4`.

In [ ]:
num_vec_plus_4 <- ...
num_vec_plus_4

In [ ]:
. = ottr::check("tests/q2.R")

**Question 3.** Square each element of each element `num_vec` and store the result in `num_vec_squared`.

In [ ]:
num_vec_squared <- ...
num_vec_squared

In [ ]:
. = ottr::check("tests/q3.R")

**Question 4.** Create and save a vector that contains the all the odd integers from 1 to 999. Name the object `odd_integers`.

**Hint:** Refer to the `seq()` function from this morning's session. Click [here](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/seq) to read the documentation.

In [ ]:
odd_integers <- ...
odd_integers

In [ ]:
. = ottr::check("tests/q4.R")

**Question 5.** Create a vector that consists of 5 different states you would like to, or have already visited, for a vacation. Name the object `vac_states`.

**Note:** Use the abbreviation instead of the full state name. For example, use NC, instead of North Carolina.

In [ ]:
vac_states <- ...
vac_states

In [ ]:
. = ottr::check("tests/q5.R")

**Question 6.** Create and save a second vector of that consists of the capitals of the states you listed in **Question 5**. Name the object `cap_vacation`.

**Note:** Spell out the full name of the US city. For example, the capital of Utah is Salt Lake City.

In [ ]:
cap_vacation <- ...
cap_vacation

In [ ]:
. = ottr::check("tests/q6.R")

**Question 7.** Create and save a matrix based on the following table 

|            |**person_id**|**hw1_grade**|**hw2_grade**|
|------------|-------------|-------------|-------------|
|**person_1**|5AXQ         |85           |95           |
|**person_2**|5BMF         |80           |60           |
|**person_3**|4JLR         |100          |99           |

Store your matrix in `grades_mat`.

**Note:** **Bold** text refers to row names and column names.

In [ ]:
... <- ...
... <- ...
... <- ...

rownames <- ...
colnames <- ...

grades_mat <- ...
grades_mat

In [ ]:
. = ottr::check("tests/q7.R")

**Question 8.** Create a list according to the following specifications:

* The first element in the list should be the string "This is my first list!"

* The second element in the list should be a vector of the even integers from 20 to 40 inclusive

* The third element in the list should be a vector the first 10 squares

Name the list `my_first_list`.

In [ ]:
my_first_list <- ...
my_first_list

In [ ]:
. = ottr::check("tests/q8.R")

**Question 9.** Create a dataframe according to the following specifications:

* The first column should be the vector `cap_vacation`.

* The second column  should be the vector `vac_states`

* The third column should be a ranking from 1 to 5 (1 being your favorite or place that you desire most to visit)

Name the dataframe `my_first_dataframe`.

In [ ]:
rank <- ...
my_first_dataframe <- ...
my_first_dataframe

In [ ]:
. = ottr::check("tests/q9.R")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by finding it in the file browswer on the left side of the screen, then right-click and select **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
ottr::export("a1-r.ipynb")