# Assignment 2: Accessing R Data Objects

In this assignment you will create R objects. 

**Due:** End of Afternoon Session

**Name:**

**Date:**

Run the cell below to see the `iris` dataset. This famous (Fisher's or Anderson's) iris data set gives the measurements in centimeters of the variables sepal length and width and petal length and width, respectively, for 50 flowers from each of 3 species of iris. The species are Iris *setosa*, *versicolor*, and *virginica*. To read more about the dataset click [here](https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/iris.html).

In [ ]:
iris

**Question 1.** Save the first column of the `iris` dataset to `iris_col1`.

In [ ]:
iris_col1 <- ...
iris_col1

In [ ]:
. = ottr::check("tests/q1.R")

**Question 2.** Save the third row of the `iris` dataset to `iris_row3`.

In [ ]:
iris_row3 <- ...
iris_row3

In [ ]:
. = ottr::check("tests/q2.R")

**Question 3.** Save the first and fourth rows of the `iris` dataset to `iris_row1_row4`.

In [ ]:
iris_row1_row4 <- ...
iris_row1_row4

In [ ]:
. = ottr::check("tests/q3.R")

<!-- BEGIN QUESTION -->

**Question 4.** List the structure of the `iris` dataset.

In [ ]:
...

<!-- END QUESTION -->

**Question 5.** What type of data structure is listed for the `Species` column. Save the name as a character string to the variable `data_struture_species`.

In [ ]:
data_struture_species <- ...
data_struture_species

In [ ]:
. = ottr::check("tests/q5.R")

<!-- BEGIN QUESTION -->

**Question 6.** List the attributes of the object `iris`?

In [ ]:
# YOUR CODE HERE

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 7.** Use the `summary()` function to view numerical summaries of the `iris` dataset.

In [ ]:
# YOUR CODE HERE

<!-- END QUESTION -->

**Question 8.** Create a dataframe according to the following specifications:

* The first column should be named `team` and contain 'A', 'B', 'C', 'D', 'E'

* The second column should be named `points` and contain 99, 90, 86, 88, 95

* The third column should be named `assists` and contain 33, 28, 31, 39, 34

* The fourth column should be named `rebounds` and contain 30, 28, 24, 24, 28

Name the dataframe `team_stats`.

In [ ]:
team <- ...
points <- ...
assists <- ...
rebounds <- ...
team_sats <- ...
team_stats

In [ ]:
. = ottr::check("tests/q8.R")

<!-- BEGIN QUESTION -->

**Question 9.** List the average number of points, assists, and rebounds. Assign these values to a vector named `team_averages`.

**Hint:** There is a function in R called `mean()`. If you want to try to use it, click [here](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/mean) to read the documentation.

In [ ]:
team_averages <- ...

In [ ]:
. = ottr::check("tests/q9.R")

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by finding it in the file browswer on the left side of the screen, then right-click and select **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
ottr::export("a2-r.ipynb")